/* pricipal */

body {
	width: 100%;
	height: 100%;
	margin: 10px 0 0 20%;
}

.pasillo {
	opacity: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 57px;
	height: 57px;
}

.pasillos {
	background-image: url('./img/casillas/pasillo.jpg');
	opacity: 0.7;
	width: 62px;
	height: 62px;
}

.cuadro {
	opacity: 0.7;
}

.casilla {
	width: 50px;
}

.seleccion {
	width: 100%;
}

.panel {
	position: fixed;
	min-width: 125px;
	width: 17%;
	z-index: 20;
	left: 0px;
	top: 0px;
	border-bottom: 1px;
}


.cerrar {
	font-size: inherit;
	border: 1px solid #000;
	position: absolute;
	display: flex;
	margin-top: 10%;
	background-color: #FFF;
	width: 15%;
	padding: 2% 0% 2% 10%;
	margin-left: 15px;
	border-radius: 3px;
}

.cerrar:hover {
	background-color: #EEE;
}

.vaciar {
	font-size: inherit;
	border: 1px solid #000;
	position: absolute;
	display: flex;
	margin-top: 10%;
	background-color: #FFF;
	padding: 2% 15% 2% 20%;
	left: 40%;
	width: 30%;
	border-radius: 3px;
}

.vaciar:hover {
	background-color: #EEE;
}

select {
	font-size: inherit;
	margin: 15px 0 0 15px;
	border: 1px solid #000;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	background-color: #FFF;
	padding: 5px 8px;
	box-shadow: none;
	color: #000;
}

select:hover {
	background-color: #EEE;
}

.indice_casilla {
	width: 32px;
	height: 32px;
	outline: 1px solid #000;
}

.indice_casilla:hover {
	background-color: #F5A9A9;
}

.seleccionada {
	background-color: #F5A9A9;
}

/* excepciones navegadores */

@-moz-document url-prefix() {
	table {
		margin-top: -2px;
	}
	select {
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
	}
}

#lateral {
	margin: 0;
	padding: 0;
	width: 200px;
	right: -18.8em;
	top: 10%;
	height: 100%;
	position: fixed;
	overflow-y: hidden;
	background-color: #2b2b2b;
	transition: right 0.4s ease-in-out;
}

#lateral:hover {
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#lateral-label {
	display: inline-block;
	background: #333;
	position: fixed;
	right: 0px;
	top: 0%;
	opacity: 0.67;
	z-index: 100;
	font-size: 14px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	border-radius: 5px 0px 0px 5px;
}

#lateral-label a {
	color: #FFF;
	display: block;
	width: 90px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}

#lateral-label:hover {
	opacity: 1;
}

.contribuir {
	margin-top: 50px;
}

/* enemigos */

.orco, .goblin, .esqueleto, .zombi, .momia, .fimir, .guerrero_caos, .gargola {
	opacity: 0;
	display: flex;
	position: absolute;
	margin-left: -8px;
	margin-top: -24px;
	z-index: 5;
}

.orco:after {
	content: url('./img/iconos/orco.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.goblin:before {
	content: url('./img/iconos/goblin.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.esqueleto:before {
	content: url('./img/iconos/esqueleto.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.zombi:before {
	content: url('./img/iconos/zombi.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.momia:before {
	content: url('./img/iconos/momia.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.fimir:before {
	content: url('./img/iconos/fimir.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.guerrero_caos:before {
	content: url('./img/iconos/guerrero_caos.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.gargola:before {
	margin-top: -5px;
	margin-left: -10px;
	content: url('./img/iconos/gargola.png');
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

/* heroes */

.barbaro, .enano, .elfo, .mago {
	display: flex;
	position: absolute;
	margin-left: -7px;
	margin-top: -24px;
	z-index: 5;
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.barbaro:before {
	content: url('./img/iconos/barbaro.png');
}

.enano:before {
	content: url('./img/iconos/enano.png');
	margin-top: -5px;
}

.elfo:before {
	content: url('./img/iconos/elfo.png');
}

.mago:before {
	content: url('./img/iconos/mago.png');
}

/* letras */

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m {
	display: flex;
	position: absolute;
	margin-left: 1px;
	margin-top: -15px;
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
}

.a:before {
	content: url('./img/iconos/letra_a.png');
}

.b:before {
	content: url('./img/iconos/letra_b.png');
}

.c:before {
	content: url('./img/iconos/letra_c.png');
}

.d:before {
	content: url('./img/iconos/letra_d.png');
}

.e:before {
	content: url('./img/iconos/letra_e.png');
}

.f:before {
	content: url('./img/iconos/letra_f.png');
}

.g:before {
	content: url('./img/iconos/letra_g.png');
}

.h:before {
	content: url('./img/iconos/letra_h.png');
}

.i:before {
	content: url('./img/iconos/letra_i.png');
}

.j:before {
	content: url('./img/iconos/letra_j.png');
}

.k:before {
	content: url('./img/iconos/letra_k.png');
}

.l:before {
	content: url('./img/iconos/letra_l.png');
}

.m:before {
	content: url('./img/iconos/letra_m.png');
}

/* rocas */

.roca {
	opacity: 0;
	display: flex;
	position: absolute;
	z-index: 5;
	margin-left: -11px;
	margin-top: -27px;
}

.roca:before {
	content: url('./img/iconos/roca.png');
	-moz-transform: scale(0.65);
	-webkit-transform: scale(0.65);
	-o-transform: scale(0.65);
}

.rocas_este, .rocas_oeste, .rocas_sur, .rocas_norte {
	opacity: 0;
	display: flex;
	position: absolute;
}

.rocas_este:before {
	content: url('./img/iconos/roca_doble_este.png');
	margin-left: -20px;
	margin-top: -27px;
	-moz-transform: scale(0.67);
	-webkit-transform: scale(0.65);
	-o-transform: scale(0.65);
	z-index: 5;
}

.rocas_oeste:before {
	content: url('./img/iconos/roca_doble_este.png');
	margin-top: -27px;
	margin-left: -55px;
	z-index: 5;
	-moz-transform: scale(0.67);
	-webkit-transform: scale(0.65);
	-o-transform: scale(0.65);
}

.rocas_sur:before {
	content: url('./img/iconos/roca_doble_este.png');
	-webkit-transform: scale(0.65) rotate(90deg);
	-moz-transform: scale(0.67) rotate(90deg);
	-o-transform: scale(0.65) rotate(90deg);
	margin-left: -39px;
	margin-top: -12px;
	z-index: 5;
}

.rocas_norte:before {
	content: url('./img/iconos/roca_doble_este.png');
	-webkit-transform: scale(0.65) rotate(270deg);
	-moz-transform: scale(0.67) rotate(270deg);
	-o-transform: scale(0.65) rotate(270deg);
	z-index: 5;
	margin-left: -36px;
	margin-top: -46px;
}

/* puertas */

.puerta_sur, .puerta_norte, .puerta_este, .puerta_oeste, .puerta_este_oeste, .puerta_sur_norte {
	opacity: 0;
	display: flex;
	z-index: 2;
	position: absolute;
	-moz-transform: scale(0.65);
	-webkit-transform: scale(0.65);
	-o-transform: scale(0.65);
}

.puerta_sur:before {
	content: url('./img/iconos/puerta_sur.png');
	margin-top: 1px;
	margin-left: -20px;
}

.puerta_norte:before {
	content: url('./img/iconos/puerta_sur.png');
	margin-top: -42px;
	margin-left: -20px;
}

.puerta_este:before {
	content: url('./img/iconos/puerta_este.png');
	margin-left: 22px;
	margin-top: -40px;
}

.puerta_oeste:before {
	content: url('./img/iconos/puerta_este.png');
	margin-top: -40px;
	margin-left: -19px;
}

.puerta_este_oeste:before {
	content: url('./img/iconos/puerta_este.png');
	margin-top: -41px;
	margin-left: -30px;
}

.puerta_este_oeste:after {
	content: url('./img/iconos/puerta_este.png');
	margin-top: -41px;
	margin-left: 23px;
}

.puerta_sur_norte:before {
	content: url('./img/iconos/puerta_sur.png');
	margin-top: -50px;
	margin-left: -22px;
}

.puerta_sur_norte:after {
	content: url('./img/iconos/puerta_sur.png');
	margin-top: 1px;
	margin-left: -63px;
}

/* mobiliario */

.laboratorio_sur, .laboratorio_norte, .laboratorio_este, .laboratorio_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.laboratorio_sur:before { 
	content: url('./img/iconos/laboratorio.png');
	margin-left: 5px;
	margin-top: -13px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
}

.laboratorio_norte:before {
	content: url('./img/iconos/laboratorio.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180deg);
	margin-left: 5px;
	margin-top: -53px
}

.laboratorio_este:before {
	content: url('./img/iconos/laboratorio.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: -10px;
	margin-top: 0px;
}

.laboratorio_oeste:before {
	content: url('./img/iconos/laboratorio.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform : scale(1.0) rotate(90eg);
	margin-left: -15px;
	margin-top: 0px;
}

/* libreria */

.libreria_sur, .libreria_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.libreria_sur:before {
	content: url('./img/iconos/libreria.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: 2px;
	margin-top: -15px;
}

.libreria_este:before {
	content: url('./img/iconos/libreria.png');
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	margin-left: -30px;
	margin-top: 15px;
}

/* armarios */

.armario_sur, .armario_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.armario_este:before {
	content: url('./img/iconos/armario.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	margin-left: -30px;
	margin-top: 15px;
}

.armario_sur:before {
	content: url('./img/iconos/armario.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: 3px;
	margin-top: -17px;
}

/* chimenea */

.chimenea_sur, .chimenea_este, .chimenea_norte, .chimenea_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.chimenea_sur:before {
	content: url('./img/iconos/chimenea.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: 1px;
	margin-top: -15px;
}

.chimenea_norte:before {
	content: url('./img/iconos/chimenea.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180eg);
	margin-left: 1px;
	margin-top: -21px
}

.chimenea_este:before {
	content: url('./img/iconos/chimenea.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: -30px;
	margin-top: 16px;
}

.chimenea_oeste:before {
	content: url('./img/iconos/chimenea.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: -36px;
	margin-top: 16px;
}

/* potro de torturas */

.potro_sur, .potro_norte, .potro_este, .potro_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.potro_sur:before {
	content: url('./img/iconos/potro.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: 1px;
	margin-top: -15px;
}

.potro_norte:before {
	content: url('./img/iconos/potro.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180deg);
	margin-left: 1px;
	margin-top: -85px;
}

.potro_este:before {
	content: url('./img/iconos/potro.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: 20px;
	margin-top: -33px;
}

.potro_oeste:before {
	content: url('./img/iconos/potro.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: -50px;
	margin-top: -33px
}

/* mesa de mago */

.mesa_mago_sur, .mesa_mago_norte, .mesa_mago_este, .mesa_mago_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.mesa_mago_sur:before {
	content: url('./img/iconos/mesa_mago.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 3px;
	margin-top: -15px;
}

.mesa_mago_norte:before {
	content: url('./img/iconos/mesa_mago.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180deg);
	margin-left: 2px;
	margin-top: -50px;
}

.mesa_mago_este:before {
	content: url('./img/iconos/mesa_mago.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: -12px;
	margin-top: 2px;
}

.mesa_mago_oeste:before {
	content: url('./img/iconos/mesa_mago.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: -52px;
	margin-top: 2px;
}

/* tumba */

.tumba_sur, .tumba_norte, .tumba_oeste, .tumba_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.tumba_sur:before {
	content: url('./img/iconos/tumba.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 1px;
	margin-top: -15px;
}

.tumba_norte:before {
	content: url('./img/iconos/tumba.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180deg);
	margin-left: 1px;
	margin-top: -85px;
}

.tumba_este:before {
	content: url('./img/iconos/tumba.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: 20px;
	margin-top: -33px;
}

.tumba_oeste:before {
	content: url('./img/iconos/tumba.png');
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: -50px;
	margin-top: -33px;
}

/* mesa */

.mesa_sur, .mesa_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.mesa_sur:before {
	content: url('./img/iconos/mesa.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: 1px;
	margin-top: -15px;
}

.mesa_este:before {
	content: url('./img/iconos/mesa.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: -10px;
	margin-top: 3px;
}

.cofre_sur, .cofre_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.cofre_sur:before {
	content: url('./img/iconos/cofre.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 0px;
	margin-top: -10px;
}

.cofre_este:before {
	content: url('./img/iconos/cofre.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: 0px;
	margin-top: -15px;
}

.trono_sur, .trono_este, .trono_norte, .trono_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.trono_sur:before {
	content: url('./img/iconos/trono.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 1px;
	margin-top: -15px;
}

.trono_norte:before {
	content: url('./img/iconos/trono.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180eg);
	margin-left: 0px;
	margin-top: -20px;
}

.trono_este:before {
	content: url('./img/iconos/trono.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270eg);
	margin-left: 4px;
	margin-top: -17px;
}

.trono_oeste:before {
	content: url('./img/iconos/trono.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: -1px;
	margin-top: -17px;
}

/* armero */

.armero_sur, .armero_este {
	opacity: 0;
	display: flex;
	position: absolute;
}

.armero_sur:before {
	content: url('./img/iconos/armero.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 2px;
	margin-top: -17px;
}

.armero_este:before {
	content: url('./img/iconos/armero.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform : scale(1.0) rotate(270eg);
	margin-left: -31px;
	margin-top: 15px;
}

/* trampas */

.trampa {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 41px;
	height: 40px;	
}

.lanza, .abismo, .piedra_caida {
	display: flex;
	position: absolute;
	opacity: 0;
	z-index: 1;
}

.lanza:before {
	content: url('./img/iconos/lanza.png');
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	margin-left: -8px;
	margin-top: -27px;
}

.abismo:before {
	content: url('./img/iconos/abismo.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 4px;
	margin-top: -15px;
}

.piedra_caida:before {
	content: url('./img/iconos/piedra_caida.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	margin-left: -1px;
	margin-top: -17px;
}

/* paredes */

.paredes {
	border-top: 0px solid;
	width: 135px;
	height: 1px;
	position: absolute;
	margin-top: -64px;
	border-color: #FFF;
	margin-left: -5px;
	z-index: 1;
}

.arriba {
	border-top: 5px solid;
	width: 36px;
	height: 1px;
	position: absolute;
	margin-top: -19px;
	border-color: #000;
	margin-left: -2px;
}

.abajo {
	border-top: 5px solid;
	width: 35px;
	height: 1px;
	position: absolute;
	margin-top: 15px;
	border-color: #000;
	margin-left: -1px;
}

.izquierda {
	border-left: 5px solid;
	width: 1px;
	height: 36px;
	position: absolute;
	margin-top: -18px;
	border-color: #000;
	margin-left: -4px;
}

.derecha {
	border-left: 5px solid;
	width: 1px;
	height: 35px;
	position: absolute;
	margin-top: -17px;
	border-color: #000;
	margin-left: 30px;
}

.arriba_abajo {
	border-bottom: 5px solid;
	border-top: 5px solid;
	width: 36px;
	height: 30px;
	position: absolute;
	margin-top: -20px;
	border-color: #000;
	margin-left: -2px;
}

.izquierda_derecha {
	border-right: 5px solid;
	border-left: 5px solid;
	width: 29px;
	height: 35px;
	position: absolute;
	margin-top: -18px;
	border-color: #000;
	margin-left: -3px;
}

.arriba_izquierda {
	border-left: 5px solid;
	border-top: 5px solid;
	width: 33px;
	height: 32px;
	position: absolute;
	margin-top: -19px;
	border-color: #000;
	margin-left: -4px;
}

.arriba_derecha {
	border-right: 5px solid;
	border-top: 5px solid;
	width: 32px;
	height: 32px;
	position: absolute;
	margin-top: -19px;
	border-color: #000;
	margin-left: -2px;
}

.abajo_izquierda {
	border-left: 5px solid;
	border-bottom: 5px solid;
	width: 32px;
	height: 33px;
	position: absolute;
	margin-top: -18px;
	border-color: #000;
	margin-left: -4px;
}

.abajo_derecha {
	border-right: 5px solid;
	border-bottom: 5px solid;
	width: 32px;
	height: 32px;
	position: absolute;
	margin-top: -17px;
	border-color: #000;
	margin-left: -2px;
}

/* suelo */

.gris, .gris_oscuro, .violeta_oscuro, .azul_oscuro {
	width: 35px;
	height: 35px;
	position: absolute;
	margin-top: -18px;
	z-index: -1;
	display: flex;
	margin-left: -1px;
}

.gris {
	background-color: lightgray;
}

.gris_oscuro {
	background-color: DimGray;
}

.violeta_oscuro {
	background-color: DarkOrchid;
}

.azul_oscuro {
	background-color: DarkBlue;
}

/* puertas secretas */

.puerta_secreta_norte, .puerta_secreta_sur, .puerta_secreta_este, .puerta_secreta_oeste, .puerta_secreta_norte_sur, .puerta_secreta_este_oeste {
	opacity: 0;
	display: flex;
	position: absolute;
}

.puerta_secreta_norte:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-top: -17px;
	margin-left: 3px;
}

.puerta_secreta_sur:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180eg);
	margin-top: -6px;
	margin-left: 4px;
}

.puerta_secreta_este:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: 8px;
	margin-top: -10px;
}

.puerta_secreta_oeste:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	transform: scale(1.0) rotate(270deg);
	margin-left: -2px;
	margin-top: -12px;
}

.puerta_secreta_norte_sur:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-top: -17px;
	margin-left: 3px;
}

.puerta_secreta_norte_sur:after {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(180deg);
	-moz-transform: scale(1.0) rotate(180deg);
	-o-transform: scale(1.0) rotate(180deg);
	transform: scale(1.0) rotate(180eg);
	margin-top: -6px;
	margin-left: -25px;
}

.puerta_secreta_este_oeste:before {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(90deg);
	-moz-transform: scale(1.0) rotate(90deg);
	-o-transform: scale(1.0) rotate(90deg);
	transform: scale(1.0) rotate(90eg);
	margin-left: 8px;
	margin-top: -10px;
}

.puerta_secreta_este_oeste:after {
	content: url('./img/iconos/puerta_secreta.png');
	-webkit-transform: scale(1.0) rotate(270deg);
	-moz-transform: scale(1.0) rotate(270deg);
	-o-transform: scale(1.0) rotate(270deg);
	margin-left: -36px;
	margin-top: -12px;
}

.numero_1, .numero_2, .numero_3, .numero_4, .numero_5, .numero_6, .numero_7, .numero_8, .numero_9 {
	display: flex;
	position: absolute;
	margin-left: 10px;
	margin-top: -10px;
}

.numero_10, .numero_11 {
	display: flex;
	position: absolute;
	margin-left: 3px;
	margin-top: -10px;
}

.numero_1:before {
	content: url('./img/iconos/numero_1.png');
}

.numero_2:before {
	content: url('./img/iconos/numero_2.png');
}

.numero_3:before {
	content: url('./img/iconos/numero_3.png');
}

.numero_4:before {
	content: url('./img/iconos/numero_4.png');
}

.numero_5:before {
	content: url('./img/iconos/numero_5.png');;
}

.numero_6:before {
	content: url('./img/iconos/numero_6.png');
}

.numero_7:before {
	content: url('./img/iconos/numero_7.png');
}

.numero_8:before {
	content: url('./img/iconos/numero_8.png');
}

.numero_9:before {
	content: url('./img/iconos/numero_9.png');
}

.numero_10:before {
	content: url('./img/iconos/numero_10.png');
}

.numero_11:before {
	content: url('./img/iconos/numero_11.png');
}

/* falsos */

.ocupante {
	content: url('./img/iconos/ocupante.png');
	display: flex;
	position: absolute;
	padding-left: 22px;
	margin-top: -30px;
	width: 1px;
	height: 1px;
	z-index: -5;
}

.puerta {
	content: url('./img/iconos/puerta.png');
	opacity: 0;
	position: absolute;
	margin-top: 35px;
	display: flex;
	width: 1px;
	height: 1px;
	z-index: -5;
}

.paredes {
	content: url('./img/iconos/puerta.png');
	opacity: 0;
	position: absolute;
	margin-top: 35px;
	display: flex;
	width: 1px;
	height: 1px;
	z-index: -5;
}

.trampa {
	opacity: 0;
	display: flex;
	position: absolute;
	padding-left: 25px;
	margin-top: -40px;
	width: 1px;
	height: 1px;
	z-index: -5;
	content: url('./img/iconos/ocupante.png');
}

.suelo {
	background-color: #FFF;
	width: 1px;
	height: 1px;
	position: absolute;
	margin-top: -62px;
	z-index: -5;
	display: flex;
	margin-left: -1px;
}

.puerta_secreta {
	content: url('./img/iconos/trampilla_blanco.png');
	opacity: 0;
	display: flex;
	position: absolute;
	width: 1px;
	height: 1px;
	margin-top: -62px;
	margin-left: 12px;
	z-index: -5;
}

.tesoro {
	content: url('./img/iconos/tesoro_blanco.png');
	display: flex;
	position: absolute;
	padding-left: 22px;
	margin-top: -40px;
	width: 1px;
	height: 1px;
	z-index: -5;
}
